.font1 {
  font-family: 'Aclonica', sans-serif;
  font-family: 'Bowlby One SC', cursive;
  font-size: x-large;
}
.font2 {
  font-family: 'Caveat Brush', cursive;
}
.warna {
  color: #757575;
}
.besar {
  font-size: 2rem;
}
